/* Coolors Exported Palette - coolors.co/262626-d12929-aa2222-7a1717-931c1c */

$black-background: #262626; //rgba(38, 38, 38, 100)
$primary-bold: #d12929; //rgba(209, 41, 41, 100)
$primary-title: #aa2222; //rgba(170, 34, 34, 100)
$primary-background: #7a1717; //rgba(122, 23, 23, 100)
$primary-sidebar: #931c1c; //rgba(147, 28, 28, 100)

$textcolor: white;
$grey: rgb(195, 195, 195);
$white: #F7F7F7;
