@import 'pallete';

.frontpage{
    position: relative;
    height:100vh;
}

.name-container{
    margin-top: 25vh;
}

none{
  display:none;
}

.frontname{
  font-size:6em;
  color:inherit;
  margin-top:10vh;
}

.animation-container{
    position: absolute;
    left:10px;
    bottom:10px;
    text-size:3em;
    font-family: 'Lucida Console', Monaco, monospace;
    color: $grey;
}

.fa{
    font-size:3.4em;
    -webkit-transition: all 0.2s 0s ease;
    -moz-transition: all 0.2s 0s ease;
    -ms-transition: all 0.2s 0s ease;
    -o-transition: all 0.2s 0s ease;
    transition: all 0.2s 0s ease;
}

.icon-text{
    -webkit-transition: all 0.2s 0s ease;
    -moz-transition: all 0.2s 0s ease;
    -ms-transition: all 0.2s 0s ease;
    -o-transition: all 0.2s 0s ease;
    transition: all 0.2s 0s ease;
    color:$textcolor;
    text-decoration-color: $textcolor;
}

.icon-container{
  margin: 0.4em 0px;
}

.icon-text:hover, .icon-text:hover, a:hover .icon-text, a:hover .fa, a:hover .icon-text, a:hover .fa{
    color:$textcolor;
    text-decoration-color: $textcolor;
}

.fa{
    font-size: 1.9em;
}

.fa:hover{
    // font-size:3.7em;
    color:inherit;
    // padding-bottom: 0px;
}

body{
    background-color:$black-background;
    color:$textcolor;
    text-decoration-color: $textcolor;
    font-size: 2vmin;
}

a, a:link, a:hover, a:visited{
    color:$textcolor;
    text-decoration-color: $textcolor;
}

h5{
    font-size:1.1em;
}

.pre{
  white-space:pre;
}
